* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: -webkit-gradient(linear, left top, right top, from(mediumpurple), to(lightsalmon));
  background: -webkit-linear-gradient(left, mediumpurple, lightsalmon);
  background: -o-linear-gradient(left, mediumpurple, lightsalmon);
  background: linear-gradient(to right, mediumpurple, lightsalmon); }

.title {
  text-align: center;
  color: #444; }

.calendar {
  background: #4ECDC4;
  width: 80%;
  max-width: 600px;
  margin: 1em auto;
  padding: .5em 0; }
  .calendar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase; }
  .calendar__prev, .calendar__next {
    color: #C7F464;
    cursor: pointer;
    font-size: 1.3em; }
  .calendar__prev {
    margin-right: auto; }
  .calendar__next {
    margin-left: auto; }
  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; }
  .calendar__month, .calendar__year {
    padding: .5em 1em; }
  .calendar__item {
    text-align: center;
    line-height: 2; }
  .calendar__today {
    background: lightcoral;
    color: white;
    width: 50%;
    border-radius: 50%;
    margin: auto; }
  .calendar__last-days {
    opacity: .3; }
